<% @list.bookmarks.each do |bookmark| %>
  <div>
    <h3><%= @bookmark.comment %></h3>
    <h2><%= bookmark.movie.title %></h2>
    <p><%= bookmark.movie.overview %></p>
  </div>
<% end %>
<%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
<%= link_to 'Back to the lists', lists_path %>
<p><%= @list.name.upcase %></p>
