<h2>Add a movie for <%= @list.name %></h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
<%= link_to 'Back to the lists', lists_path %>
<p><%= @list.name.upcase %></p>
